* {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: inherit;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14pt;
  }
  
  #top {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-size: cover;
    background-position: center center;
  }
  
  #top>h1 {
    text-align: center;
    font-size: 5rem;
    text-shadow: 1px 1px 3px #ffffff, -1px -1px 0px #ebebeb;
  }
  
  .slider-controller {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .slider-controller ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  #sc-to-left,
  #sc-to-right {
    display: inline-block;
    font-size: 2rem;
    width: 120px;
    line-height: 3em;
    background-color: #bbb;
    color: #f0f0f0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    opacity: 0.75;
  }
  
  section[role="main"]>article,
  section[role="main"]>aside {
    width: 960px;
    max-width: 95vw;
    margin: 0 auto;
  }
  
  section[role="main"] {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .main{
      background-color: #000;
  }

  h1 {
    font-weight: normal;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 100px;
  }

  .a-images img {
    width: calc(100% / 3 - 12px);
    max-width: calc(100% / 3 - 12px);
    height: 240px;
    object-fit: cover;
    background-color: #000;
  }

  .b-images img {
    width: calc(100% / 3 - 12px);
    max-width: calc(100% / 3 - 12px);
    height: 240px;
    object-fit: cover;
    background-color: #000;

  }
.a-all {
    display: flex;
    justify-content: center;
}
.a-all div{
    margin: auto;
}

  .a-chara {
    display: inline-block;
    background-color: black;
    color:red;
    font-size: 1.5rem;
    padding: 1em 0em;
  }

  .a-logo {
    display: inline-block;
    background-color: black;
    color:orange;
    font-size: 1.5rem;
    padding: 1em 0em;
  }

  .a-maya {
    display: inline-block;
    background-color: black;
    color:yellow;
    font-size: 1.5rem;
    padding: 1em 0em;
  }

  .b-all {
      display: flex;
      justify-content: center;
  }

  .b-all div{
      margin: auto;
  }

  .b-color {
    display: inline-block;
    background-color: black;
    color:lightgreen;
    font-size: 1.5rem;
    padding: 1em 0em;
  }

  .b-design {
    display: inline-block;
    background-color: black;
    color: lightblue;
    font-size: 1.5rem;
    padding: 1em 0em;
  }

  .b-web {
    display: inline-block;
    background-color: black;
    color:blue;
    font-size: 1.5rem;
    padding: 1em 0em;
  }



  
*, *::before, *::after {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
  }

:root { 
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-size: 16pt;
  }

  header {
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center center;
  }

  main { 
    display: flex; 
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
  }
  
  @media screen and (max-width: 896px) {
    main {
      flex-direction: column; 
    }
  }

.profile-photo img {
    display: block; 
    width: 300px; 
    height: 300px; 
    border-radius: 50%;
  }
  
  @media screen and (max-width: 896px) {
    .profile-photo img {
      width: 70vw; 
      height: 70vw; 
    }
  }

  .profile-text {
    max-width: 600px; 
    padding: 2rem; 
    color: #fff; 
  }

  h1 {
    font-size: 4rem; 
    letter-spacing: 0.1em; 
  }
  
  @media screen and (max-width: 896px) {
    h1 {
      font-size: 13.5vw; 
      text-align: center; 
    }
  }

  .background-filter {
    width: 100%;
    height: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: -1; 
    background-attachment: fixed; 
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%); /* 背景をグラデーションで設定 */
  }

  .profile-photo {
    position: relative;
  }
  .circle1,
  .circle2,
  .circle3 {
    position: absolute; 
    top: 0; 
    width: 100%;
    height: 100%;
    border-radius: 40%; 
    z-index: -1; 
  }

 
@keyframes rotation {
    from {  
      transform: rotate(0deg); 
    }
  
    to {  
    }
  }

  .circle1 {
    opacity: 0.1;
    background: #0af; 
    transform-origin: 50% 47%; 
    animation: rotation 5s infinite linear; 
  }
  
  .circle2 {
    opacity: 0.3;
    background: #ff0;
    transform-origin: 52% 48%;
    animation: rotation 12s infinite linear;
  }
  
  .circle3 {
    opacity: 0.2;
    background: #fa0;
    transform-origin: 48% 52%;
    animation: rotation 8s infinite linear;
  }


  .moto {
    background-color: white;
    color: #2b2b2b;
    font-size: 100%;
    background-image: "./img/back.jpg";
  }

  a:link { color: #0000ff; }
  a:visited { color: #0000a0; }
  a:hover { color: #0000ff; }
  a:active { color: #ff8000; }

  .container {
    padding-bottom: 400px;
    }

  p.nextLink {
    margin-top: 50px;
    text-align: center;
    }